webapp/node_modules
webapp/.next

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/*.tfvars
infra/.terraform.lock.hcl

assets/

# Helm
infra/charts/**/charts/*.tgz
infra/charts/**/charts/*.lock
infra/charts/**/charts/*.txt

# Secrets
.env
.env.*
!.env.example

# Go binaries
api/api
api/server
api/tmp/

# playwrite assets
.playwright-mcp/

# my own import file, as a test
*.csv